.indv-graph-card {
    display: flex;
    flex-direction: column;
    height: 18vh;
    min-height: 340px;
    margin-bottom: 1rem; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: 5px solid #488a99; 
    border-radius: 8px;
}

.indv-graph-card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.map-graph {
    display: flex;
    flex-direction: column;
    height: 20vh;
    min-height: 380px;
    margin-bottom: 1rem; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: 5px solid #488a99; 
    border-radius: 8px;
}

.vega-chart {
    height: 100%;
    width: 100%;
    flex: 1;
}