
.summary-container {
    background-color: #488a99;
    border-radius: 10px;
    padding: 1px;
    margin: 1px;
    margin-bottom: 10px;
    height: 15vh;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 5px solid #488a99; 
    border-radius: 8px;
}

/* Summary Card Styling */
.summary-card {
    background-color: #488a99 !important; /* Makes background black */
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    height: 12vh;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Border colors for each type */
.summary-card-primary {
    border: 3px solid blue;
}

.summary-card-success {
    border: 3px solid green;
}

.summary-card-info {
    border: 3px solid #0dcaf0;
}

.summary-card h5, .summary-card h4 {
    color: white;
}

.centered-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
